.background {
  background-image: url("../../../public/images/b7bg.png");
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}